@charset "UTF-8";
@font-face {
    font-family:'Sen' ;
    src: url("fonts/Sen-Regular.ttf");
}
@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-VariableFont_slnt\,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
