@import "base.css";

body {
  background-color: #f9f9f9;
}
header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  font: normal 700 32px/38px "Sen", sans-serif;
  color: #2f2f2f;
}
.botao-login {
  display: none;
}
.botao-pesquisa {
  margin-left: 715px;
  margin-right: 45px;
  background-color: #ffffff;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-pesquisa img {
  width: 25px;
  height: 25px;
}
.login {
  width: 183px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #eaeaea;
  border-radius: 100px;
}
.a1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 328.42px;
  top: 197px;
  background: linear-gradient(
    136.92deg,
    #2dc7ed 3.14%,
    rgba(45, 199, 237, 0) 100%
  );
  transform: rotate(45deg);
  transition: 1.2s;
}
.a1 img {
  transform: rotate(-45deg);
  transition: 1.2s;
}
.a1 img:hover {
  transform: rotate(60deg);
}
.a1:hover {
  background: linear-gradient(
    56.92deg,
    #30e2c4 3.14%,
    rgba(45, 199, 237, 0) 100%
  );
  transform: rotate(-60deg);
}
.a2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1380px;
  top: 197px;
  background: linear-gradient(270deg, #f2c94c 0%, rgba(242, 201, 76, 0) 100%);
  border-radius: 50%;
  transition: 1.2s;
}
.a2 img {
  transition: 1.2s;
}
.a2 img:hover {
  transform: rotate(160deg);
}
.a2:hover {
  transform: rotate(-160deg);
}
.a3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 436px;
  top: 750px;
  background: linear-gradient(
    136.92deg,
    #ef7c89 3.14%,
    rgba(239, 124, 137, 0) 100%
  );
  border-radius: 30px;
  transition: 1.2s;
}
.a3 img {
  transition: 1.2s;
}
.a3 img:hover {
  transform: scale(1.2, 1.2);
}
.a3:hover {
  transform: rotateX(12);
  transform: skewY(5deg);
  transform: skewX(-5deg);
}
.triangulo {
  position: absolute;
  left: 1455px;
  top: 675px;
  transition: 1.2s;
  transition-delay: 0.2s;
}
.triangulo:hover {
  transform: translate(0px, -50px) rotateY(360deg);
}
.a5 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 963px;
  top: 844px;
  border-radius: 50%;
  background: linear-gradient(270deg, #7248ec 0%, rgba(114, 72, 236, 0) 100%);
  transition: 1.2s;
}
.a5 img {
  transition: 1.2s;
}
.a5 img:hover {
  transform: rotate(160deg);
}
.a5:hover {
  transform: rotate(-160deg);
}
.img-triangulo {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 1469px;
  top: 679px;
}
.t1 {
  margin: 140px auto 0 auto;
  text-align: center;
}
.t1 h1 {
  font: normal 500 24px/29px "Inter", sans-serif;
  text-transform: uppercase;
  color: #2f2f2f;
}
.t1 h2 {
  font: normal 700 64px/70px "Sen", sans-serif;
}
.botoes {
  margin: 152px auto 0 auto;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 60px;
}
.button1 {
  font: normal 600 20px/24px "Inter", sans-serif;
  margin-right: 52px;
  text-transform: uppercase;
  border: none;
  color: #f9f9f9;
  width: 227px;
  height: 54px;
  background: #6610f2;
  border-radius: 10px;
}
.button2 {
  font: normal 600 20px/24px "Inter", sans-serif;
  text-transform: uppercase;
  color: #2f2f2f;
  width: 241px;
  height: 54px;
  background: #ffffff;
  border: 2px solid #eaeaea;
  border-radius: 10px;
}
.container {
  padding: 60px;
  display: flex;
  flex-direction: row;
  margin: 386px auto 0 auto;
  width: 980px;
  height: 130px;
  background-color: #fcfcfc;
  justify-content: space-around;
}

.conteudo h3 {
  font: normal 400 20px/24px "Sen", sans-serif;
  margin-bottom: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #2f2f2f;
  opacity: 0.75;
  border-left: 3px solid #6610f2;
}
.conteudo p {
  font: italic 400 16px/26px "Inter", sans-serif;
  color: #2f2f2f;
}

@media only screen and (max-width: 1400px) {
  .botao-pesquisa {
    margin-left: 515px;
    margin-right: 30px;
  }
  .a1 {
    left: 160px;
  }
  .a2 {
    left: 1030px;
  }
  .triangulo {
    left: 1120px;
  }
  .img-triangulo {
    left: 1137px;
  }
  .a3 {
    left: 170px;
  }
  .a5 {
    left: 700px;
  }
  .t1 h2 {
    font-size: 50px;
  }
  .botoes {
    width: 550px;
    height: 50px;
  }
  .button1 {
    font-size: 19px;
    margin-right: 50px;
    width: 205px;
    height: 49px;
  }
  .button2 {
    font-size: 19px;

    width: 205px;
    height: 49px;
  }
  .container {
    padding: 50px;
    margin: 400px auto 0 auto;
    width: 970px;
    height: 130px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    width: 800px;
  }
  .botao-pesquisa {
    margin-left: 315px;
    margin-right: 30px;
  }
  .a1 {
    top: 130px;
    width: 150px;
    height: 150px;
    left: 90px;
  }
  .a2 {
    width: 160px;
    height: 160px;
    top: 130px;
    left: 500px;
  }
  .a2 img {
    width: 120px;
    height: 120px;
  }
  .triangulo {
    top: 844px;
    left: 500px;
  }
  .img-triangulo {
    top: 844px;
    left: 520px;
  }
  .a3 {
    display: none;
  }
  .a5 {
    left: 90px;
  }
  .t1 {
    width: 400px;
    margin: 280px auto 0 auto;
  }
  .t1 h1 {
    margin-bottom: 30px;
  }
  .t1 h2 {
    line-height: 60px;
    font-size: 44px;
  }
  .botoes {
    width: max-content;
    height: 50px;
    margin: 60px auto 0 auto;
  }
  .button1 {
    font-size: 19px;
    margin-right: 28px;
    width: 205px;
    height: 49px;
  }
  .button2 {
    font-size: 19px;
    width: 205px;
    height: 49px;
  }
  .container {
    flex-direction: column;
    padding: 10px;
    margin: 286px auto 0 auto;
    width: 450px;
    height: 300px;
  }
  .container h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 450px) {
  header {
    align-items: center;
    margin: auto;
    width: max-content;
    height: 90px;
  }
  header h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .botao-login {
    background-color: #ffffff;
    border: 2px solid #eaeaea;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botao-login img {
    width: 30px;
    height: 30px;
  }

  .botao-pesquisa {
    width: 50px;
    height: 50px;
    margin-left: 252px;
    margin-right: 12px;
  }
  .botao-pesquisa img {
    width: 30px;
    height: 30px;
  }
  .login {
    display: none;
  }
  .triangulo {
    top: 644px;
    left: 500px;
  }
  .img-triangulo {
    top: 644px;
    left: 520px;
  }
  .a3 {
    display: none;
  }
  .a5 {
    top: 644px;
    left: 90px;
  }
  .t1 {
    width: max-content;
    margin: 225px auto 0 auto;
  }
  .t1 h1 {
    font: normal 500 20px/24px "Inter", sans-serif;
    margin-bottom: 24px;
  }
  .t1 h2 {
    width: max-content;
    font: normal 700 52px/56px "Sen", sans-serif;
  }
  .botoes {
    margin: 24px auto 0 auto;
    justify-content: center;
    width: max-content;
    height: max-content;
  }
  .button1 {
    margin-right: 24px;
    font-size: 12px;
    line-height: 15px;
    color: #f9f9f9;
    width: 227px;
    height: 54px;
    border-radius: 10px;
  }
  .button2 {
    font-size: 12px;
    line-height: 15px;
    width: 227px;
    height: 54px;
    border-radius: 10px;
  }
  .container {
    padding: 60px;
    margin: 210px auto 0 auto;
    width: 340px;
    height: 240px;
    background-color: #fcfcfc;
    justify-content: space-around;
  }

  .conteudo h3 {
    font-size: 18px;
    line-height: 22px;
    border-left: 3px solid #6610f2;
  }
  .conteudo p {
    font-size: 14px;
    line-height: 16px;
    color: #2f2f2f;
  }
}
